/* Глобальные настройки*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto, sans-serif;
    background-color: #d3b05f;
}

/* Заголовок */
#head {
    width: 100%;
    position: fixed;
    top: 0;
    height: 60px;
    z-index: 10;
}

#main-nav {
    background-color: #d3b05f;
    height: 100%;
    text-align: center;
}

.title-container {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
    height: 100%;
}

.main-title{
    color: white;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
    font-family: 'Ponomar Unicode';
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/*медиа заголовка*/

@media screen and (min-width: 1700px) {
    #head{
        height: 65px;
    }
    #main-menu h3{
        font-size: 1.5rem;
        font-weight: 700;
    }
    
   
}

@media screen and (max-width: 500px) {
    #head{
        height: 90px;
    }
    .main-title{
        letter-spacing: 3px;
    }
}

@media screen and (min-width: 1300px) {
    .main-title{
        font-size: 2.8rem;
    }
}

/* Шапка */

.cover-wrapper{
    width: 100%;
    overflow: hidden;
}

.cover {
    background: url("/images_church/main_view.jpg") center;
    background-size: cover;
    color: white;
    padding: 20vw 0 30vw;
}

@media screen and (max-width: 1470px) {
    .cover{
        margin-top: 30px;
    }
}
@media screen and (max-width: 800px) {
    .cover{
        margin-top: 50px;
        width: 130%;
        margin-left: -15%;
        padding: 30vw 0 30vw;
    }
}
@media screen and (max-width: 700px) {
    .cover{
        width: 140%;
        margin-left: -20%;
        margin-top: 60px;
        padding: 30vw 0 35vw;
    }
}
@media screen and (max-width: 500px) {
    .cover{
        width: 150%;
        margin-left: -25%;
        margin-top: 80px;
        padding: 40vw 0 50vw;
    }
}

h1 {
    font-size: 2.5rem;
    margin-top: -8px;
    margin-bottom: .25rem;
}

/* Расписание */

.big-bt-container {
    background-color: #d7c6a0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(249, 249, 249);
    text-align: center;
    padding: 20px;
}

.big-bt{
    background-color: #d3b05f;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);

}

.big-bt a{
    color: white;
    text-decoration: underline;
}

@media screen and (max-width: 426px) {
    .big-bt{
        max-width: 70%;
    }
}
@media screen and (min-width: 1300px) {
    .big-bt-container{
        height: 90px;
    }
    .big-bt{
        width: 50%;
        height: 40%;
    }
    .big-bt a{
        font-size: 2rem;
    }
}

/* Настоятель */

h2{
    color: white;
}

.rector{
    background-color: #d3b05f;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.rector-info-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-top: 20px;
    position: relative;
    height: fit-content;
}

.rector-info-container img{

    border-radius: 50px;
    height: 250px;
}

.rector-info-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(249, 249, 249);
    height: 100%;
}
.rector-info-text div {
    font-weight: bold;
    margin-bottom: 25px; 
}

@media screen and (max-width: 500px) {
    .rector-info-container{
        flex-direction: column;
    }
    .rector-info-text{
        padding-top: 10px;
        width: 90%;
        /* align-items: center; */
        text-align: center;
    }
}
@media screen and (min-width: 1300px) {
    .rector h2{
        font-size: 3rem;
    }
    .rector-info-container img{
        height: 400px;
    }
    .rector-info-text{
        font-size: 1.5rem;
    }
}

/* Cоц сети */

.socials-section{
    padding: 20px 0;
    background-color: #d3b05f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.social-icons{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    flex-wrap: wrap;
}

.social-icon{
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    color: white;
    width: 25%;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.social-icon:hover{
    cursor: pointer;
}

.social-icon img{
    max-height: 80%;
    z-index: 2;
}

@media screen and (max-width: 650px) {
    .social-icons{
        width: 90%;
    }
    .social-icon{
        width: 35%;
    }
}

@media screen and (max-width: 400px) {
    .social-icon{
        width: 80%;
    }
}

@media screen and (min-width: 1300px) {
    .socials-section h2{
        font-size: 2.5rem;
    }
    .social-icons{
        width: 95%;
    }
}

/* Подвал */

.footer {
    padding-top: 3rem;
    background-color: #d3b05f;
    color: white;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

@media screen and (max-width: 650px) {
    .footer{
        grid-template-columns: 1fr;
    }
}

.footer p{
    grid-area: 3/1/3/5;
}

.footer-lists{
    display: flex;
    flex-wrap: wrap;
}

.ul_footer {
    list-style: none;
    padding-bottom: 2rem;
    margin: 0 25px 0 0;
}

.li_footer{
    padding: 5px 0;
}

.li_footer a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.li_footer a:hover {
    color: #5bbee6;
}

.footer p{
    font-size: 1rem;
}

/*Бургер, подвал*/
@media screen and (max-width: 750px){
    #main-menu{
        display: none;
    }
    #main-nav{
        position: relative;
    }
    .logo-holder{
        position: absolute;
        z-index: 1;
    }
    /*Бургер*/

    .burger-wrapper{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        /*Делаем независимым от остальных и размер как родителя, то есть как всю шапку*/
        top: 0;
        text-align: center;
    }

    #check-menu{
        display: none;
    /*    убрали галочку*/
    }

    /*блок на который нажимаем*/
    .burger-label{
        display: block;
        /*видимость*/
        position: absolute;
        /*независим от других*/
        width: 70px;
        height: 50px;
        right: 10px;
        top: 5px;
        /*отступы*/
        cursor: pointer;
        z-index: 2;
        line-height: 100%;
    }

    /*просто пишем где располагаюся линии*/
    /*!!! Они здесь отдельно от label, то есть от экрана*/
    .burger-line{
        position: absolute;
        top: 15px;
        /*У label отступ 5, от вершины label итого 10*/
        right: 20px;
        /*10 от экрана и 10 от label*/
        width: 50px;
        height: 3px;
        border-radius: 4px;
        background-color: white;
        transition: 0.5s all;
    }

    .burger-label:hover ~ .burger-line{
        background-color: #5bbee6;
    }

    .second, .third{
        top: 28px;
    }

    .fourth{
        top: 41px;
    }

    .burger-main-menu{
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        transform: translateY(100%);
        /*для развертывания*/
        max-height: 0;
        font-size: 1.5rem;
        overflow: hidden;
        /*    Если выходит за рамки (а он выходит т к высота 0) то hidden*/
        transition: .5s;
        /*    Плавность*/
    }

    .burger-main-menu a{
        display: block;
        width: 100%;
        padding: 20px 0;
        color: white;
        text-decoration: none;
        border-top: 1px solid rgba(255, 255, 255, .3);
        background-color: #151a2e;
        font-weight: bold;
    }

    .burger-main-menu a:hover{
        background-color: #0e5d91;
    }

    #check-menu:checked ~ .burger-main-menu{
        max-height: 500px;
    }

    #check-menu:checked ~ .first{
        display: none;
    }
    #check-menu:checked ~ .fourth{
        display: none;
    }

    #check-menu:checked ~ .second{
        transform: rotate(45deg);
    }

    #check-menu:checked ~ .third{
        transform: rotate(-45deg);
    }






}

@media screen and (max-width: 670px){
    h1{
        font-size: 2rem;
    }

    h2{
        font-size: 1.6rem;
    }

}

@media screen and (max-width: 450px){

    .button-cover{
        font-size: 0.8rem;
    }
    h1{
        font-size: 1.9rem;
    }

    /*    подвал*/
    
}

@media screen and (max-width: 370px){
   h1{
       font-size: 1.5rem;
   }
}